# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
clipboard.json
bin
build
*.log
log/error.log
RELEASENOTES.md

node_modules
./static/js/out
.vscode