#dash-body,
#main-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#dash-body {
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  height: calc(100% - 64px);
}

#main-body {
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
}

.mode-item,
.node-item-left {
  width: 43rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.mode-item {
  height: 4.5rem;
  border-radius: 0.4rem;
  justify-content: center;
  padding: 1rem;
  transition: 0.4s;
  opacity: 0;
  user-select: none;
  cursor: pointer;
}

.mode-item:hover {
  background-color: #454545;
}

.node-item-left {
  justify-content: flex-start;
  gap: 1rem;
}

.node-item-picture {
  border-radius: 50%;
  background-color: #505050;
  width: 4.5rem;
  height: 4.5rem;
  background-position: center;
  background-size: cover;
}

.node-item-labels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 70%;
}

.node-item-labels > * {
  margin: 0;
}

#doc-selector-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 50rem;
  transition: 0.4s;
}

#doc-selector-div > .mode-item {
  margin-bottom: 1.7rem;
}

#doc-selector-div > :last-child {
  margin-bottom: 0;
}

#main-body-navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin: 1rem 0;
}

#main-body-navbar-button-div {
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.navbar-button {
  border-radius: 0.2rem;
  width: 4rem;
  height: 2rem;
  transition: 0.2s;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
}

.navbar-button > span {
  user-select: none ;
  font-size: 0.9rem;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.navbar-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-button > img {
  width: 1.6rem;
  height: 1.6rem;
}

@media (max-width: 47.5rem) {
  .mode-item {
    width: 85%;
    height: 4rem;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  #doc-selector-div {
    width: 100%;
  }

  #main-body-navbar {
    margin: 1 0;
    width: 90%;
  }

  #main-body {
    width: 100%;
  }

  .node-item-picture {
    height: 3rem;
    width: 3rem;
  }

  nav {
    height: 40px;
  }
}
